adagio==0.2.4
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
ansi2html==1.8.0
antlr4-python3-runtime==4.11.1
anyio @ file:///C:/ci/anyio_1644481921011/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow==1.2.3
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-generator==1.10
async-timeout==4.0.2
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
autoviz==0.1.730
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.cached-property @ file:///home/conda/feedstock_root/build_artifacts/backports.cached-property_1655884010323/work
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
binaryornot==0.4.4
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blis==0.7.9
bokeh==2.4.3
boto3==1.27.0
botocore==1.30.0
brotlipy @ file:///D:/bld/brotlipy_1648854327487/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1682868691601/work
CacheControl @ file:///C:/b/abs_9c0tfqhhca/croot/cachecontrol-split_1676365559985/work
catalogue==2.0.8
catboost==1.2
category-encoders==2.6.1
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
certipy==0.1.3
cffi @ file:///D:/bld/cffi_1656782930891/work
chardet==5.1.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1669193745932/work
click==8.1.3
cloudpickle==2.2.1
cmaes==0.9.1
codecov==2.1.13
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.0.1
colorlog==6.7.0
colour==0.1.5
comm @ file:///C:/b/abs_1419earm7u/croot/comm_1671231131638/work
confection==0.0.3
contourpy==1.1.0
cookiecutter==2.1.1
coverage==7.2.7
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cryptography @ file:///D:/bld/cryptography_1637687384130/work
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
daal==2023.1.1
daal4py==2023.1.1
dacite==1.8.1
dash==2.11.0
dash-auth==2.0.0
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dask==2023.6.1
databricks-cli==0.17.7
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepchecks==0.17.3
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.6
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
distributed==2023.6.1
docker==6.1.3
dtreeviz==2.2.1
dulwich @ file:///C:/b/abs_5ahq422mfw/croot/dulwich_1679420068831/work
emoji==2.6.0
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
evidently==0.3.3
exceptiongroup==1.1.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
explainerdashboard==0.4.2.2
fairlearn==0.7.0
fastapi==0.99.1
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
ffmpy==0.3.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
Flask==2.2.5
flask-simplelogin==0.1.2
Flask-WTF==1.1.1
fonttools==4.40.0
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.6.0
fugue==0.8.5
fugue-sql-antlr==0.1.6
future==0.18.3
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31
gradio==3.35.2
gradio_client==0.2.7
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
h11==0.14.0
holoviews==1.14.9
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
htmlmin==0.1.12
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
hvplot==0.7.3
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
igraph==0.10.2
ImageHash==4.3.1
imageio==2.31.1
imbalanced-learn==0.10.1
importlib-metadata==5.2.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
iniconfig==2.0.0
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
interpret==0.4.2
interpret-core==0.4.2
ipykernel @ file:///C:/b/abs_b4f07tbsyd/croot/ipykernel_1672767104060/work
ipython==7.34.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.7.5
itsdangerous==2.1.2
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1667024629799/work
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events @ file:///C:/b/abs_4cak_28ewz/croot/jupyter_events_1684268050893/work
jupyter-server==1.24.0
jupyter-telemetry==0.1.0
jupyter_client @ file:///C:/b/abs_059idvdagk/croot/jupyter_client_1680171872444/work
jupyter_core @ file:///C:/b/abs_9d0ttho3bs/croot/jupyter_core_1679906581955/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterhub==4.0.1
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==1.1.4
kaleido==0.2.1
keyring @ file:///D:/bld/keyring_1671728351489/work
kiwisolver==1.4.4
kmodes==0.12.2
langcodes==3.3.0
lazy_loader==0.3
leidenalg==0.9.0
lightgbm==3.3.5
lime==0.2.0.1
linkify-it-py==2.0.2
llvmlite==0.40.1
locket==1.0.0
lockfile==0.12.2
lxml @ file:///C:/b/abs_c2bg6ck92l/croot/lxml_1679646459966/work
m2cgen==0.10.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib==3.7.1
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661915841596/work
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.1
mlflow==1.30.1
mlxtend==0.22.0
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1677514956219/work
moto==4.1.12
msgpack @ file:///C:/ci/msgpack-python_1652329316214/work
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
murmurhash==1.0.9
nbclassic @ file:///C:/b/abs_c8_rs7b3zw/croot/nbclassic_1681756186106/work
nbclient @ file:///C:/ci/nbclient_1650290387259/work
nbconvert==7.6.0
nbformat @ file:///C:/b/abs_85_3g7dkt4/croot/nbformat_1670352343720/work
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
networkx==3.1
nltk==3.8.1
notebook @ file:///C:/b/abs_49d8mc_lpe/croot/notebook_1681756182078/work
notebook_shim @ file:///C:/b/abs_ebfczttg6x/croot/notebook-shim_1668160590914/work
numba==0.57.1
numpy @ file:///D:/bld/numpy_1651020773031/work
oauthlib==3.2.2
optuna==3.2.0
orjson==3.9.1
outcome==1.2.0
oyaml==1.0
packaging==21.3
pandas==1.5.1
pandas-dq==1.28
pandas-profiling==3.6.6
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel==0.14.4
param==1.13.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
pathy==0.6.2
patsy==0.5.3
percy==2.0.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
phik==0.12.3
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1687705014305/work
plotly==5.15.0
plotly-resampler==0.8.3.2
pluggy==1.2.0
pmdarima==2.0.3
poetry @ file:///D:/bld/poetry_1685416987992/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1685363087406/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1685377684886/work
preshed==3.0.8
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prometheus-flask-exporter==0.22.4
prompt-toolkit @ file:///C:/b/abs_6coz5_9f2s/croot/prompt-toolkit_1672387908312/work
protobuf==4.23.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py4j==0.10.9.7
pyamg==5.0.1
pyaml==23.5.9
pyarrow==6.0.1
pycairo==1.21.0
pycaret==3.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.5.0
pydantic==1.10.2
pydub==0.25.1
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
PyJWT==2.7.0
pynndescent==0.5.10
PyNomaly==0.3.3
pyod==1.1.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==3.1.0
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1670268672584/work
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytest==7.4.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
python-multipart==0.0.6
python-slugify==8.0.1
python-utils==3.7.0
pytz==2022.7.1
pyviz-comms==2.3.2
PyWavelets==1.4.1
pywin32==305.1
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1687901059923/work
pywinpty @ file:///C:/b/abs_73vshmevwq/croot/pywinpty_1677609966356/work/target/wheels/pywinpty-2.0.10-cp39-none-win_amd64.whl
PyYAML==6.0
pyzmq==23.2.1
qpd==0.4.3
qtconsole==5.4.3
QtPy==2.3.1
querystring-parser==1.2.4
rapidfuzz @ file:///C:/b/abs_3es0o30520/croot/rapidfuzz_1679593472486/work
ray==2.5.1
regex==2023.6.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1682953341151/work
responses==0.23.1
retrying==1.3.4
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
SALib==1.4.7
schemdraw==0.15
scikit-base==0.5.0
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-learn-intelex==2023.1.1
scikit-optimize==0.9.0
scikit-plot==0.3.7
scipy==1.9.3
seaborn==0.12.2
selenium==4.2.0
semantic-version==2.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shap==0.41.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
skope-rules==1.0.1
sktime==0.20.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio @ file:///C:/ci/sniffio_1614030527509/work
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.48
sqlglot==17.1.0
sqlparse==0.4.4
srsly==2.4.5
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
statsforecast==1.5.0
statsmodels==0.14.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tbb==2021.9.0
tblib==2.0.0
tenacity==8.2.2
tensorboardX==2.6.1
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
text-unidecode==1.3
textblob==0.17.1
textnets==0.8.5
texttable==1.6.4
thinc==8.1.5
threadpoolctl==3.1.0
tifffile==2023.7.4
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1683028165096/work
toolz==0.12.0
tornado @ file:///C:/ci/tornado_1662458743919/work
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
treeinterpreter==0.2.3
triad==0.9.0
trio==0.22.1
trio-websocket==0.10.3
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1685141755541/work
tune-sklearn==0.4.6
typeguard==2.13.3
typer==0.4.2
types-PyYAML==6.0.12.10
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1685704949284/work
uc-micro-py==1.0.2
umap-learn==0.5.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
urllib3-secure-extra==0.1.0
uvicorn==0.22.0
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1687005325630/work
visions==0.7.5
waitress==2.1.2
wasabi==0.10.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/ci/websocket-client_1614804375980/work
websockets==11.0.3
Werkzeug==2.2.3
widgetsnbextension==3.6.4
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wordcloud==1.9.2
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.0.1
xgboost==1.7.6
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.2.0
yarl==1.9.2
ydata-profiling==4.3.1
yellowbrick==1.5
zict==3.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
zope.event==5.0
zope.interface==6.0
